{% extends 'common.html' %}
{% load static %}
{% block abc %}

    {% include 'admin_menu.html' %}

    <form action="{% url 'saveedit' %}" method="post">
    {% csrf_token %}

        <table align="center" border="2">
    <tr>
        <th style="font-size: 15px ; background-color: yellowgreen;text-align: center; color: ivory">Update Schedule Class</th>
    </tr>
        <tr>
        <th>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Course No" name="c0" value="{{ cordata.cno}}" required>

        </th>
    </tr>
    <tr>
        <th>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Course Name" name="c1" required value="{{ cordata.cname }}">

        </th>
    </tr>
     <tr>
         <th>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Faculty Name" name="c2" required value="{{ cordata.fname }}">

        </th>
     </tr>
     <tr>
         <th>
            <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Date of Start" name="c3" required value="{{ cordata.cdate }}">

        </th>
     </tr>
     <tr>
         <th>
            <input type="time" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Time" name="c4" required value="{{ cordata.ctime }}">

        </th>
     </tr>
     <tr>
         <th>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Fee" name="c5" required value="{{ cordata.fee }}">

        </th>
     </tr>
     <tr>
         <th>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Duration in Days" name="c6" required value="{{ cordata.dur }}">

        </th>
     </tr>
     <tr>
        <th style="text-align: center">
            <button type="submit" class="btn btn-success">Save</button>
        </th>
    </tr>
            {% for x in messages %}
                <tr>
                <th class="admin_login">
                    <div class="alert alert-success" role="alert">
                        {{ x }}
                    </div>
                </th>
                </tr>

    {% endfor %}

    </table>
    </form>


{% endblock %}