{% extends 'common.html' %}
{% block abc %}
    {% include 'student_menu.html' %}
    <form method="post" action="#">
    {% csrf_token %}
        <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Student mob</th>
      <th scope="col">Course No</th>
      <th scope="col">Course Name</th>
      <th scope="col">Faculty Name</th>
      <th scope="col">Course Date</th>
      <th scope="col">Course Time</th>
      <th scope="col">Course Fee</th>
        <th scope="col">Course Duration(In Days)</th>
        <th scope="col">Enroll</th>
    </tr>
  </thead>
  <tbody>
    {% for x in data %}
        <tr>
        <td>{{ studata }}</td>
        <td>{{ x.cno }}</td>
        <td>{{ x.cname }}</td>
        <td>{{ x.fname }}</td>
        <td>{{ x.cdate }}</td>
        <td>{{ x.ctime }}</td>
        <td>{{ x.fee }}</td>
        <td>{{ x.dur }}</td>
        <td><button type="submit" class="btn btn-info">Enroll</button></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
    </form>

{% endblock %}