<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'studenthome' %}?una={{ uname }}">Welcome {{ stname }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'enrollcourse' %}?una={{ uname }}">Enroll The Course <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'viewallenrolledcourse' %}?una={{ uname }}">View all Enrolled Course</a>
        <a class="nav-item nav-link" href="{% url 'cancelenrolledcourse' %}?una={{ uname }}">Cancel Enrolled Course</a>
        <a class="nav-item nav-link" href="{% url 'adminlogout' %}">Logout</a>
    </div>
  </div>
</nav>